<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#" aria-current="page">Argoss<span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link" routerLink="list-user" >Usuarios</a>
        <a class="nav-item nav-link" routerLink="add-user" >Agregar</a>
        <a class="nav-item nav-link" routerLink="edit-user" >Editar</a>
    </div>
</nav>
<div class="container">
  contenido
  <router-outlet></router-outlet>
</div>